{% extends "admin/base_site.html" %}
{% block content %}

  <h1>{{ from_me }}</h1>
  <div class="changelist-form-container">
    <form id="changelist" method="POST">
      <div class="actions">
        {% csrf_token %}

        {% for selectable_category in  selectable_categories %}
          <select name="category_selector_{{ forloop.counter0 }}" id="categs_{{ forloop.counter0 }}">
            {% for cat in selectable_category.options %}
              {% if selectable_category.selected and cat.name == selectable_category.selected %}
                <option value={{ cat.name }} selected>{{ cat.name }}</option>
              {% else %}
                <option value={{ cat.name }}>{{ cat.name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        {% endfor %}

        {% if leaves %}
          <label for="leaves_selector">Product:
            <select name="leaves_selector" id="leaves_selector">
              {% for product in leaves.options %}
                {% if leaves.selected and product.name == leaves.selected %}
                  <option value={{ product.name }} selected>{{ product.name }}</option>
                {% else %}
                  <option value={{ product.name }}>{{ product.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </label>
        {% endif %}
        &nbsp;
        <button class="button" type="submit">select</button>
        &nbsp;
      </div>
    </form>
  </div>


{% endblock %}
