{% extends "admin/base_site.html" %}

{# copied from change_list.html for styles.there are other things here that I don't know about #}
{% load i18n admin_urls static admin_list %}
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {
        width: inherit
      }
    </style>
  {% endif %}
{% endblock %}

{# as suggested in the docs we use this block to display our context #}
{% block content %}

  <h1>{{ from_me }}</h1>
  <div class="changelist-form-container">
    <form id="changelist" method="POST">
      <div class="actions">
        {% csrf_token %}

        {% for selectable_category in  selectable_categories %}
          <select name="category_selector_{{ forloop.counter0 }}"
                  id="categs_{{ forloop.counter0 }}"
{#                  onchange="this.form.submit()"#}
          >
            {% for cat in selectable_category.options %}
              {% if selectable_category.selected and cat.name == selectable_category.selected %}
                <option value={{ cat.name }} selected>{{ cat.name }}</option>
              {% else %}
                <option value={{ cat.name }}>{{ cat.name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        {% endfor %}

        {% if leaves %}
          <label for="leaves_selector">Product:
            <select name="leaves_selector" id="leaves_selector">
              {% for product in leaves.options %}
                {% if leaves.selected and product.name == leaves.selected %}
                  <option value={{ product.name }} selected>{{ product.name }}</option>
                {% else %}
                  <option value={{ product.name }}>{{ product.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </label>
        {% endif %}
        &nbsp;
        <button class="button" type="submit">select</button>
        &nbsp;
      </div>
    </form>
  </div>


{% endblock %}
